@font-face {
  font-family: jetbrainsMono;
  src: url(https://cdn.glitch.global/c9b66f5c-6cb5-4378-8801-22f6f1cbb287/JetBrainsMono-Regular.ttf?v=1661465170215);
}

:root {
    --text-color:#f1e9da;
    --hover-color:#d90368;
    --background-color:#3F386B;
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: jetbrainsMono, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  line-height: 2;
  overflow:hidden /*removes scrollbar*/
}

h2 {
  color: var(--hover-color);
}

#about h1{
  color: var(--hover-color);
}

.container {
  width: 100%;
  height: 100%;
  /*scroll properties*/
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
}

.navbar ul li a:hover {
  color: var(--hover-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /*snap section to center*/
  scroll-snap-align: center;
}

section h1 {
  font-size: 4.5rem;
}

section p {
  font-size: 1.5rem;
}

section#about{
  background-color: #37315E;
}
